/** COLOR PALETTE:
  *
  * Background: #F5F5F5 (GREY 100)
  * Primary Text: black
  *
  * Primary color: #3F51B5 (INDIGO)
  * Primary color_text : white
  * Accent color: #CDDC39 (LIME)
  * Accent color_text: black
  */

/* GLOBAL */

* {
    font-family: Roboto, 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

button, strong {
    text-transform: uppercase;
}


/* LAYOUT */

#channels {
    position: absolute;
    height: 100%;
    width: 40%;

    background-color: #3F51B5; /* temporary background color to see the effect, is completely hidden now */

    /* #9 #shdw #idx: let the channels view appear on top of the chat view, within the body */
    z-index:2;
}

#chat {
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
}

#messages {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 72px;
    overflow-y: auto;
}


/* APP BAR */

h1 {
    background-color: #3F51B5;
    color: white;

    /* app-bar: general settings for both bars */
    height: 64px;
    font-size: 20px;
    font-weight: 500;

    /* app-bar spacing */
    box-sizing: border-box;
    padding: 24px 16px 20px 16px;

    /* MOOCUS image alignment */
    position: relative; /* we need this, so that the image's absolute position is relative to the app bar */

    /* #9 #shdw #idx: let the app-bar appear on top, within its parent */
    z-index:1;
}

h1#left-app-bar {
    padding-left: 72px;
}

h1#left-app-bar img {
    position: absolute;
    left: 16px;
    bottom: 0;
}

h1 a {
    color: white;
}

h1 #channel-star {
    position: absolute;
    right: 16px;
    font-size: 24px;
    /* #9 #btns #str: the larger button now needs top to be aligned */
    top: 6px;
    right: 0;
}

#app-bar-create {
    /* #10 #new #styled and placed */
    align-items: center;
    padding-right: 0;
    /* by default this element is hidden*/
    display: none;
}

#app-bar-create.show {
    /* #10 #new #styled and placed */
    /* to show the app-bar, we need display:flex, not display:none */
    display: flex;
}

#app-bar-create input {
    /* #10 #new #styled and placed */
    /* styles */
    font-size: 20px;
    border: none;
    border-radius: 2px;
    margin-top: 3px;
    padding: 4px;
    /* alignment */
    display: block;
    flex-grow: 1;
}


/* CHANNELS LIST */

ul {
    list-style-type: none;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 64px; /* the app bar's height */
    bottom: 72px; /* the tab bar's height */
    overflow-y: auto; /* this adds scroll bars on demand */
}

li {
    box-sizing: border-box;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
}

li .channel-meta {
    /* right-align channel-meta icons */
    position: absolute;
    right: 16px;
    top: 12px;

    /* centered blue boxes */
    display:flex;
}

li .channel-meta span {
    /* boxes for the additional metadata */
    /* color */
    background-color: #3F51B5;
    color: white;
    /* appearance */
    margin:2px;
    padding:2px;
    border-radius:2px;
    font-size:10px;

    /* centered blue boxes' text content */
    align-self:center;
}

li i.fa {
    font-size: 24px;
}

li.selected {
    color: #3F51B5;
    border-left: 4px solid #3F51B5;
}

/* #9 #flt #btn: FLOATING ACTION BUTTON */
#add-channel {
    /* dimension */
    width: 56px;
    min-width: 56px; /* override this from default button */
    height: 56px;
    font-size: 24px;
    /* position */
    position: absolute;
    bottom: calc(72px + 16px); /* tab bar size ~ margin*/
    right: 16px;
    /* circle */
    border-radius: 50%;
}


/* TAB BAR */

#tab-bar, #chat-bar {
    background-color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;

    /* #9 #btns #fix: chat bar now needs a height */
    height: 72px;
}

/* #9 #btns #fix: concerns only the tab bar */
#tab-bar button {
    width: 33%;
    height: 72px;
    /* padding: 16px; buttons padding removed in #9 #btns #fix*/

    /* margin added in #9 #btns #fix */
    margin: 0;

    /* flexify the buttons by growing them equally */
    flex-grow: 1;
}

#tab-bar button.selected {
    color: #3F51B5;
    border-bottom: 4px solid #3F51B5;
}

#tab-bar button i {
    display: block;
    font-size: 24px;
    margin: 0 auto 4px auto;
}


/* CHAT BAR */

#chat-bar {
    /* #9 #flex the #chat-bar */
    justify-content:space-between;
    align-items:center;
}

#chat-bar button {
    width: auto;
    flex-grow: 0;
    font-size: 24px;
}

#button-create {
    /* #10 #new #styled and placed; initially invisible */
    display: none;
}

#emojis {
    /* emoji menu */
    /* colors and borders */
    background-color: white;
    /* #9 #shdw #elv removes the border as we now have a shadow
    border: 1px solid black; */

    /* size & alignment */
    position: absolute;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
    left: 16px;
    top: -284px;
    padding: 16px;

    /* font and left-align text */
    text-align: left;
    font-size: 28px;

    /* scroll when it has too many emojis */
    overflow-y: auto;

    /* hide the #emoji menu */
    display: none;
}

/* input styles for font, border, and alignment */
#chat-bar input {
    /* styles */
    font-size: 16px;
    border: none;
    /* alignment */
    flex-grow: 1;
}


/* MESSAGES */

.message {
    width: 80%;
    margin-bottom: 8px;
    position: relative;
    /* #9 #msgs #mrg correct the margin */
    margin-left: 20px;
}

.message h3 {
    /* Message-meta medium-sized text, non-italic */
    font-size: medium;

    /* messages distribute metadata content evenly with flexbox */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.message h3 a {
    /* What3words link is primary test */
    color: black;

    width: 30%;
}

.message h3 em {
    /* Larger text, non-italic*/
    font-size: larger;
    font-style: normal;

    width: 20%;
    text-align: right;
}

.message p {
    background-color: white;
    padding: 16px;

    /* #9 #msgs #shd: drops a 2dp shadow */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    /* #9 #msgs #psd: this aligns our left triangle relative to the message */
    position: relative;
}

/* #9 #msgs #psd #tri left triangle */
.message p:before {
    /* #9 #msgs #psd: red square commented out as it is only a step to the triangle */
    /*width: 20px;
     height: 20px;
     background-color:red;*/

    /* #9 #msgs #psd: this is our empty triangle */
    content: '';

    position: absolute;
    top: 0;
    left: -20px;

    /* #9 #msgs #tri: this is our triangle, it requires 0 width and height and no background */
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;

    /* #msgs #ash: this is an ok-looking triangle-shadow */
    filter: drop-shadow(-2px 1px 1px rgba(0, 0, 0, 0.14));
}

/* #9 #msgs #own right triangle */
.message.own p:before {
    /* #9 #msgs #own: same as for the left, but override some styles */
    left: 100%;
    border-bottom: 20px solid transparent;
    border-right: none;
    border-left: 20px solid white;

    /* #9 #msgs #ash: this is a somewhat different, but for the right triangle ok-looking shadow */
    filter: drop-shadow(2px 0px 1px rgba(0, 0, 0, 0.14));
}

.message.own {
    /* #9 #msgs #mrg: correct the margin */
    margin-left: calc(20% - 20px);
}

.message button {
    /* #9 #btns styles removed in #fix
    +5 min. button
    background-color: #CDDC39;
    color: black;
    text-transform: uppercase;*/

    /* #9 #btns styles adjusted in #fix*/
    position: absolute;
    right: 0;
    bottom: 0;
}

button {
    /* #9 #btns #all default button style */
    height: 36px;
    min-width: 64px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 16px;
    margin: 8px;

    background-color: white;
    text-color: black;
    border: none;

    text-transform: uppercase;
}

button.primary {
    /* #9 #btns #clss: primary button color scheme */
    background-color: #3F51B5;
    color: white;
}

button.accent {
    /* #9 #btns #clss: accent button color scheme */
    background-color: #CDDC39;
    color: black;
}

/* #9 #btns #hvr hovering and pressing any button leads to 15% darkened background-color*/
button:hover, button:active {
    background-color: #D9D9D9;
}
button.primary:hover, button.primary:active {
    background-color: #192B8F
}
button.accent:hover, button.accent:active {
    background-color: #A7B613;
}

button:focus, input:focus {
    /* #9 #btns # fcs: remove the blue focus outline */
    outline: none;
}

/* #9 #shdw #elv: the materials elevation classes, as found out by Scott Roa (http://stackoverflow.com/a/37826207) */

.shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

.shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.shadow--24dp {
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
}